body {
  font-family: Roboto, Arial;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#main-header {
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: white;
  align-items: center;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#yo { color: #1D4ED8; }
#word { color: #7C3AED; }

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}